
$colors: (
    black: #000000,
    white: #FFFFFF 
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

.header {
    padding-bottom: 4rem;
    float: right;
}

.activeButton{
  background-color: #1A72B0;
  color: color(white);
  border-color: color(white);
}

.inactiveButton{
    background-color: #F7F8F9;
    color: #7D8388;
    border-color: color(black);
  }
 