<div class="container-fluid">
  <div class="row" style="height: 80px;">
    <div class="col-lg-11">

      <!-- header should be in seperate component, but decided for challenger this was ok. -->
      <div class="header">
        <div class="btn-group btn-group-toggle header" data-toggle="buttons" id="btnGroup">
          <label class="btn"
            [ngClass]="{activeButton: filteredMovies === '2000', inactiveButton: filteredMovies !== '2000'}">
            <input type="radio" id="button1" value="2000" autocomplete="off" [(ngModel)]="filteredMovies"> 2000's
          </label>
          <label class="btn"
            [ngClass]="{activeButton: filteredMovies === '1990', inactiveButton: filteredMovies !== '1990'}">
            <input type="radio" id="button2" value="1990" autocomplete="off" [(ngModel)]="filteredMovies"> 1990's
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-movie-item *ngFor="let movie of movieList | filter: filteredMovies: 'Year'" [movie]="movie"></app-movie-item>
    </div>
  </div>
</div>